/* TABLET VIEW */
@media only screen and (min-width: 750px) and (max-width: 950px) {
	#reviews-list li {
		width: 80%;
	}
}

/* MOBILE VIEW */
@media only screen and (max-width: 749px) {
	#breadcrumb {
		width: 100%;
		padding: 10px 0 16px;
	}

	#home-root {
		margin-left: 20px;
	}

	#restaurant-container,
	#reviews-container {
		width: 100%;
	}

	.inside #map-container {
		width: 100%;
		height: 300px;
		position: relative;
		top: 130px;
	}

}