*@media only screen and (max-width: 950px) and (min-width: 700px) {
	#reviews-list li {
		padding: 0 10px 20px;
	}
}

/* Keeps the zoom out/in button flush with map */
@media only screen and (min-width: 320px) and (max-width: 699px) {
	div.leaflet-top.leaflet-left {
		top: 50px;
	}

	#restaurant-container, #reviews-container {
		padding: 0;
	}
}

/* DESKTOP QUERIES */
@media only screen and (min-width: 700px) {
	body {
		position: relative;
	}

	#breadcrumb {
		width: calc(50% - 80px);
	}

	#map {
		height: 400px;
	}

	.inside header {
		position: fixed;
		top: 0;
		z-index: 1000;
	}

	.inside #map-container {
		right: 0;
		top: 80px;
	}

	.inside #footer {
		position: absolute;
		width: 100%;
	}

	#restaurant-container, #reviews-container {
		padding: 20px 25px 30px;
		width: 50%;
	}

	#reviews-list li {
		width: 85%;
	}
}

/* RESPONSIVE QUERIES */
@media only screen and (max-width: 699px) {
	#map {
		position: relative;
		outline: none;
	}

	.filter-options h2 {
		display: inline-block;
	}
	
	#restaurants-list li {
		padding: 10px;
		display: inline-grid;
	}

	.inside #map-container {
		height: 37%;
		position: absolute;
		width: 100%;
	}

	#footer {
		padding: 25px 0;
	}

	.inside header {
		position: absolute;
	}

	.inside #footer {
		width: 100%;
		position: inherit;
	}

	#restaurant-container {
		text-align: center;
		width: 100%;
		padding: 140px 0px 30px;
	}

	h1#restaurant-name {
		margin-top: 250px;
	}

	#restaurant-cuisine {
		margin: auto;
	}

	#restaurant-hours {
		margin: auto;
	}

	#reviews-container {
		text-align: center;
		width: 100%;
		/*padding: 30px 20px 20px;*/
	}

	#reviews-list li {
		padding: 10px;
	}

	#breadcrumb {
		width: unset;
	}
}

@media only screen and (min-width: 415px) and (max-width: 699px) {
	#restaurant-container {
		margin-top: 120px;
	}
}

/* iPhone 6/7/8 Plus and Pixel 2 Queries */
@media only screen and (min-width: 376px) and (max-width: 414px) {
	h1#restaurant-name {
		margin-top: 250px;
	}
}

/* iPhone X and iPhone 6/7/8 Queries */
@media only screen and (max-width: 375px) and (min-width: 361px) {
	h1#restaurant-name {
		margin-top: 250px;
	}
}

/* Nexus 5, Galaxy S5, and iPhone 5/SE  Queries */
@media only screen and (max-width: 360px) {
	h1#restaurant-name {
		margin-top: 190px;
	}
}


